<div class="site-footer">
    <div class="container">
        <div class="row justify-content-center copyright">
            <div class="col-lg-7 text-center">
                <div class="widget">
                    <ul class="social list-unstyled">
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-linkedin"></span></a></li>
                        <li><a href="#"><span class="icon-youtube-play"></span></a></li>
                    </ul>
                </div>
                <div class="widget">
                    <p>Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                        template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> 
                        by <a href="#" target="_blank" class="text-primary">MernOps dev Team</a>
                    </p>
                    <div class="d-block">
                        <a href="#" class="m-2">Terms &amp; Conditions</a>/
                        <a href="#" class="m-2">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="overlayer"></div>
</div>