<style>
    .search-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1000;
        display: none;
        width: 200%;
        padding: 15px;
        margin: 15px 0;
        border: 1px solid #ddd;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .search-result {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    
    .search-result:last-child {
        border-bottom: none;
    }
    
    .search-result h3 {
        margin: 0;
        font-size: 16px;
    }
    
    .search-result p {
        margin: 5px 0 0;
        font-size: 14px;
        color: #666;
    }
</style>

<!-- mobile menu  -->
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<!-- nav  -->
<nav class="site-nav">
    <div class="container">
        <div class="site-navigation">
            <div class="row">
                <div class="col-md-6 text-center order-1 order-md-2 mb-3 mb-md-0">
                    <a href="/" class="logo m-0 text-uppercase">MernOps Blogs</a>
                </div>

                <div class="col-md-3 order-3 order-md-1" style="display: flex; align-items: center;">
                    <a href="#" class="burger ms-auto site-menu-toggle js-menu-toggle d-inline-block"
                        style="margin-right: 20px;" data-toggle="collapse" data-target="#main-navbar">
                        <span></span>
                    </a>

                    <div class="search-container" style="position: relative;">
                        <form action="/articles/search" method="GET" class="search-form">
                            <span class="icon-search2"></span>
                            <input type="search" name="query" class="form-control" placeholder="Search...">
                        </form>
                    
                        <div class="search-dropdown" id="search-results">
                            <div class="search-result"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 text-end order-2 order-md-3 mb-3 mb-md-0">
                    <div class="d-flex">
                        <ul class="list-unstyled social me-auto">
                            <li><a href="#"><span class="icon-twitter"></span></a></li>
                            <li><a href="#"><span class="icon-facebook"></span></a></li>
                            <li><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>

                        <% if (locals.user) { %>
                            <div class="dropdown">
                                <a href="#" class="post-author d-flex align-items-center dropdown-toggle"
                                    id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="author-pic" style="width: 40px; height: 40px; margin-block-end: 5px;">
                                        <img src="<%= locals.user.image ? locals.user.image : '/uploads/default-profile.jpeg' %>"
                                            style="width: 100%; border-radius: 50%;" alt="User Image">
                                    </div>
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="profileDropdown"
                                    style="width: 210px; margin-top: 0.5rem;">
                                    <li><a class="dropdown-item" href="/articles/create"><i
                                                class="bi bi-plus-circle"></i> Add an article</a></li>
                                    <li><a class="dropdown-item" href="/profile"><i class="bi bi-person"></i> View
                                            Profile</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="bi bi-graph-up"></i> Analytics &
                                            Data</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Account
                                            Settings</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/logout"><i class="bi bi-box-arrow-right"></i>
                                            Logout</a></li>
                                </ul>
                            </div>
                            <% } else { %>
                                <a href="/login" class="btn" style="background: #222; color: #fff;">Login</a>
                            <% } %>
                    </div>
                </div>
            </div>

            <ul class="js-clone-nav d-none d-lg-inline-none text-start site-menu float-end">
                <li class="active"><a href="index.ejs">Home</a></li>
                <li class="has-children">
                    <a href="categories.ejs">Categories</a>
                    <ul class="dropdown">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Technology</a></li>
                        <li><a href="#">Business</a></li>
                        <li class="has-children">
                            <a href="#">Dropdown</a>
                            <ul class="dropdown">
                                <li><a href="#">Sub Menu One</a></li>
                                <li><a href="#">Sub Menu Two</a></li>
                                <li><a href="#">Sub Menu Three</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Travel</a></li>
                <li><a href="#">Food</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Business</a></li>
            </ul>
        </div>
    </div>
</nav>